<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Landing Page</title>
</head>

<body>
    <header>
        <nav class="container d-flex justify-content-between align-items-center flex-wrap">
            <div>
                <h2 class="padrao">OPOVO Online</h2>
            </div>
            <div>
                <ul class="d-flex ul-nav">
                    <li class="li-nav">Sobre</li>
                    <li class="li-nav">Vídeo</li>
                    <li class="li-nav">Propósito</li>
                    <li class="li-nav">Diversidade</li>
                    <li class="li-nav">Valores</li>
                    <li class="li-nav">Áreas de Atuação</li>
                    <li class="li-nav">Depoimentos</li>
                    <li class="li-nav">Vagas</li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container corpo d-flex align-items-center justify-content-between">
        <div class="d-flex corpo-conteudo">
            <div class="corpo-lado-esquerdo">
                <p class="p-voltar cor-letra"><span>←</span>Voltar</p>
                <p id="vagas" class="cor-letra">VAGAS</p>
                <p id="titulo-vaga" class="cor-letra">
                    <%= titulo %>
                </p>
                <p id="titulo-requisitos" class="cor-letra fonte-cabecalho">Requisitos</p>
                <p id="corpo-requisitos" class="cor-letra fonte-corpo">
                    <%= requisitos %>
                </p>
                <p id="titulo-atividades" class="cor-letra fonte-cabecalho">Atividades</p>
                <p id="corpo-atividades" class="cor-letra fonte-corpo">
                    <%= atividades %>
                </p>
                <p id="titulo-perfil" class="cor-letra fonte-cabecalho">Perfil do candidato</p>
                <p id="corpo-perfil" class="cor-letra fonte-corpo">
                    <%= perfil %>
                </p>
                <p id="titulo-horario" class="cor-letra fonte-cabecalho">Horário de trabalho</p>
                <p id="corpo-horario" class="cor-letra fonte-corpo">
                    <%= horario %>
                </p>

                <form class="div-form">
                    <div class="moldura">
                        <p id="titulo-form">Envie seu currículo</p>
                        <label for="form-nome" class="cor-letra">Nome</label>
                        <input type="text" class="form-control input-form" id="form-nome" required> 
                        <label for="form-email" class="cor-letra">E-mail</label>
                        <input type="email" class="form-control input-form" id="form-email" required>
                        <label for="form-cep" class="cor-letra">CEP</label>
                        <input type="number" class="form-control input-form" id="form-cep" required>
                        <label for="form-end" class="cor-letra">Endereço</label>
                        <input type="text" class="form-control input-form" id="form-end" required>
                        <div class="row">
                            <div class="col col-form col-num">
                                <label for="form-num" class="cor-letra">Número</label>
                                <input type="number" class="form-control input-form" id="form-num" required>
                            </div>
                            <div class="col col-form col-bairro">
                                <label for="form-bairro" class="cor-letra">Bairro</label>
                                <input type="text" class="form-control input-form" id="form-bairro" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-form col-cidade">
                                <label for="form-cidade" class="cor-letra">Cidade</label>
                                <input type="text" class="form-control input-form" id="form-cidade" required>
                            </div>
                            <div class="col col-form col-estado">
                                <label for="form-estado" class="cor-letra">Estado</label>
                                <input type="text" class="form-control input-form" id="form-estado" required>
                            </div>
                        </div>
                        <label for="form-arquivo" class="label-arquivo cor-letra">Currículo</label>
                        <input type="file" class="form-control-file" id="form-arquivo" accept=".pdf, .doc" required>
                    </div>
                    <div class="btn-curriculo">
                        <button class="btn btn-primary" id="btn-enviar">Enviar currículo</button>
                    </div>
                </form>
            </div>
            <div class="d-flex corpo-lado-direito">
                <div class="fundo-azul d-flex justify-content-center align-items-center">
                    <img src="/vagas-01-01.png"
                        alt="Imagem com três pessoas, uma segurando uma lupa apontada para uma lista e duas segurando botões de aprovado ou reprovado."
                        class="img-body">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <nav class="container d-flex justify-content-between align-items-center flex-wrap">
            <div class="padrao">
                <p>OPOVO Online</p>
            </div>
            <div class="padrao">
                <p class="fonte-footer">Copyright 1997-2016</p>
            </div>
        </nav>
    </footer>
</body>

</html>